<h2>Funciones asociadas a este relevador</h2>
<div class="row clearfix">
    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownList("Funciones", null, "", new { @class = "select2_multiple form-control", multiple = "multiple" })
        </div>
    </div>
</div>