<h2>@ViewBag.Titulo</h2>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="form-group">
            @if (ViewBag.EsMultiple)
            {
                @Html.DropDownList("Interruptores", null, "", htmlAttributes: new { @class = "select2_multiple form-control", @multiple = "multiple", @id = "SelectorInterruptor" })
            }
            else
            {
                @Html.DropDownList("Interruptores", null, "", htmlAttributes: new { @class = "select2_single form-control", @id = "SelectorInterruptor" })
            } 
        </div>
    </div>
</div>

<script>    
    $("#SelectorInterruptor").change(function () {
        if ($("#SelectorTipoEsquema").val() != "" && $("#SelectorInterruptor").val() != "" && ( $("#TipoEsquema").val() == "Esquema de Protección y Control del Interruptor" || $("#TipoEsquema").val() == "Esquema de Control – del Desconectivo"))            
        {
            $("#NombreEsquema").val($("#SelectorTipoEsquema").val() + " " + $("#SelectorInterruptor").val());
        }     
    })
</script>