<div class="form-group">
    <div class="col-md-6">
        <small>TC</small>
        @Html.DropDownList("TC", null, "", htmlAttributes: new { @class = "select2_multiple form-control", @multiple = "multiple" })
    </div>
    <div class="col-md-6">
        <small>TP</small>
        @Html.DropDownList("TP", null, "", htmlAttributes: new { @class = "select2_multiple form-control", @multiple = "multiple" })
    </div>
</div>