@model EsquemasSecundarios.Models.TipoMantenimiento

@{
    ViewBag.Title = "Tipos de Mantenimientos";
    ViewBag.PTitle = "Detalles del tipo de mantenimiento";
}

<div class="row clearfix">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Tipo</th>
                <td>@Html.DisplayFor(model => model.Tipo)</td>
            </tr>
            <tr>
                <th>Siglas</th>
                <td>@Html.DisplayFor(model => model.Siglas)</td>
            </tr>           
        </table>
    </div>
</div>

<hr />
<p>
    <a class="btn btn-info" href="@Url.Action("Edit","Mantenimientos", new { id = Model.IdMantenimiento })"><i class="fa fa-edit"></i> Editar</a>
    <a class="btn btn-default" href="@Url.Action("Index","Mantenimientos")"><i class="fa fa-list"></i> Listado</a>
</p>